.navbar-default .navbar-nav > li > a.state-draft {
    color:orange;
}
.navbar-default .navbar-nav > li > a.state-published {
    color:green;
}
.navbar-default .navbar-nav > li > a.state-declined {
    color:red;
}
