/* workflow states */
.navbar-default .navbar-nav > li > a.state-draft {
    color:orange;
}
.navbar-default .navbar-nav > li > a.state-published {
    color:green;
}
.navbar-default .navbar-nav > li > a.state-declined {
    color:red;
}

/* forms */
.has-error .help-block {
    color: #737373;
}

/* login form */
#form-loginform {
    width:450px;
    margin-left:auto;
    margin-right:auto;
}
#form-loginform .col-sm-2 {
    width:25%;
}
#form-loginform .col-sm-5 {
    width:75%;
}
#form-loginform .col-sm-offset-2 {
    margin-left:25%;
}

/* attachment form */
.attachment_payload {
    margin-top:1em;
    display:none;
}

/* content tiles */
.location-tile table td.row-title,
.facility-tile table td.row-title,
.occasion-tile table td.row-title,
.attachment-tile table td.row-title {
    font-weight:bold;
    text-align:right;
    width:20%;
}
.panel-body .location-tile,
.panel-body .facility-tile,
.panel-body .occasion-tile,
.panel-body .attachment-tile {
    margin:-15px;
}

/* location view */
.location-view-map {
    height:250px;
}