/* workflow states */
tr.state-draft td.state,
.navbar-default .navbar-nav > li > a.state-draft {
    color:orange;
}
tr.state-published td.state,
.navbar-default .navbar-nav > li > a.state-published {
    color:green;
}
tr.state-declined td.state,
.navbar-default .navbar-nav > li > a.state-declined {
    color:red;
}

/* modal */
.modal-dialog {
    width:700px;
}

/* forms */
.has-error .help-block {
    color:#737373;
}
.overlay-form-heading {
    margin-top:0;
    margin-bottom:16px;
}

/* overlay forms */
.overlay-from-description {
    margin-top:8px;
}
.action-group {
    margin-bottom:4px;
}

/* login form */
#form-loginform {
    width:450px;
    margin-left:auto;
    margin-right:auto;
}
#form-loginform .col-sm-2 {
    width:25%;
}
#form-loginform .col-sm-5 {
    width:75%;
}
#form-loginform .col-sm-offset-2 {
    margin-left:25%;
}

/* location form */
#form-locationform .location_picker {
    padding-top:8px;
}
#form-locationform .change_coordinates {
    padding-left:4px;
}
#display-locationform-coordinates-lat,
#display-locationform-coordinates-lon {
    border:none;
    box-shadow:none;
    display:inline;
}

/* attachment form */
.attachment_payload {
    margin-top:1em;
    display:none;
}

/* date and time picker buttons */
.ui-datepicker-trigger,
.ui-timepicker-trigger {
    padding-left:3px;
    padding-right:3px;
}
input.datepicker {
    width:80px;
}
input.timepicker {
    width:50px;
}

/* content tiles */
.overlay-view-heading {
    margin-top:4px;
    margin-bottom:4px;
}
.location-tile .pagination,
.facility-tile .pagination,
.occasion-tile .pagination,
.attachment-tile .pagination {
    margin:4px 0 0 0;
}
.location-tile table,
.facility-tile table,
.occasion-tile table,
.attachment-tile table {
    margin-bottom:0;
}
.location-tile table td.row-title,
.facility-tile table td.row-title,
.occasion-tile table td.row-title,
.attachment-tile table td.row-title {
    font-weight:bold;
    text-align:right;
    width:20%;
}
.location-tile table td ul.list-unstyled,
.facility-tile table td ul.list-unstyled,
.occasion-tile table td ul.list-unstyled,
.attachment-tile table td ul.list-unstyled {
    margin-bottom:0;
}
.panel-body .location-tile,
.panel-body .facility-tile,
.panel-body .occasion-tile,
.panel-body .attachment-tile {
    margin:-16px -15px -15px -15px;
}
.modal-body .location-tile,
.modal-body .facility-tile,
.modal-body .occasion-tile,
.modal-body .attachment-tile {
    margin:-16px -15px -15px -15px;
}

/* submitter contents */
#submitter_contents {
    margin:-16px -15px -15px -15px;
    border-radius:0;
    border:none;
}
#submitter_contents .panel-heading {
    border-top-left-radius:0;
    border-top-right-radius:0;
    border-top:#ddd 1px solid;
}
#submitter_contents .panel-footer {
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
}

/* location view */
.location-view-map {
    height:250px;
}

/* main map */
#location-controls-dropdown {
    box-shadow:0 1px 5px rgba(0, 0, 0, 0.65);
    padding:0;
    font-size:16px;
    height:26px;
    line-height:26px;
    width:26px;
    background-color:#ffffff;
}
.leaflet-touch #location-controls-dropdown {
    font-size:24px;
    height:34px;
    line-height:34px;
    width:34px;
}
#location-controls-dropdown span {
    line-height:24px;
}
.leaflet-control-location .dropdown-menu {
    min-width: 260px;
}
.leaflet-control-location .submitter_email {
    padding:3px 20px;
}
.leaflet-control-location .help-block.submitter-error {
    color:#a94442;
}
.leaflet-control-location .help-block.submitter-success {
    color:#3c763d;
}

/* about */
.about {
    margin-bottom:24px;
}

/* footer */
.footer-leuphana {
    margin:10px 0;
}
.footer-dfg {
    margin:10px 0 10px 20px;
}
.terms-of-use {
    margin:10px 0 10px 20px;
    color:#000;
    font-weight:bold;
}
.footer-ae {
    margin:12px 0;
}

/* live search */
@media (min-width: 992px) {
    .tt-dropdown-menu {
        width:400px;
        margin-left:-195px;
    }
}